<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div>
            <a href="/">首页</a>
            <a href="/doc">文档</a>
        </div>
        <button class="aj">ajax跳转</button>
        <button class="btn0">增</button>
        <button class="btn1">删</button>
        <button class="btn2">改</button>
        <button class="btn3">查</button>
        <script src="/js/axios.js"></script>
        <script>
            let aj=document.querySelector(".aj");
            let btn0=document.querySelector(".btn0");
            let btn1=document.querySelector(".btn1");
            let btn2=document.querySelector(".btn2");
            let btn3=document.querySelector(".btn3");
            btn3.onclick=function(){
                axios.get("/fruits").then(res=>{
                 alert(res.data);
                })
            }
            btn2.onclick=function(){
                axios.put("/fruits/fruit/0",{fruit:"nima"}).then(res=>{
                    console.log(res.data)
                })
            }
            aj.onclick=function(){
               myajax("get","/fruits").then((b)=>{
                   alert(b);
               })
            }
                function myajax(method,url){  
                    return new Promise((resolve)=>{
                        let xhr= new XMLHttpRequest();
                      xhr.open(method,url)  ;  //第一个参数为请求方法，第二个为路径
                      xhr.send(); //发送请求        //封装ajax方法作为练习
                    xhr.onreadystatechange=function(){
                   if(xhr.readyState===4&&xhr.status===200){  //readyState: 0: 请求未初始化     //status为状态码：200 404等
                                                                 // 1: 服务器连接已建立
                                                                 // 2: 请求已接收
                                                                 // 3: 请求处理中
                                                                  // 4: 请求已完成，且响应已就绪
                   resolve (xhr.responseText);
                   }
                }
               
                    });
                   
                }
            
        </script>
</body>
</html>
{% block content %}{% endblock %}