*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



header,section,footer{
    width: 500px;
    margin: 0 auto;
background-color: pink;
}

header,footer{
    height: 30px;
}

section{
    margin: 20px auto;
    overflow: hidden;
}

.left{
    width: 300px;
    background: yellow;
    float: left;
}
.right{
    width: 200px;
    background-color: orange;
    float: left;
}
